<!DOCTYPE html>
<html lang="pt">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=chrome">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="site">
    <meta name="author" content="raphael martinez batista">
    <title>LOGISTICA</title>
    <link href="../vendor/fontawesome-free/css/all.min.css" rel="stylesheet" type="text/css">
    <link
        href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i"
        rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../img/touch-icon-iphone.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../img/touch-icon-iphone.png">
    <link href="../css/sb-admin-2.css" rel="stylesheet">
    <link href="../css/style.css" rel="stylesheet">
    <link href="../css/dataTables.bootstrap4.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/rowreorder/1.2.8/css/rowReorder.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.datatables.net/responsive/2.2.9/css/responsive.dataTables.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body id="page-top sidebar" class="off-canvas hide-extras ">
    <div id="wrapper  ">
        <div id="content-wrapper " class="d-flex flex-column">
            <header>
                <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
                    <div class="container px-4 px-lg-5 text-white-50">
                        <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/dashboard">
                            <div class="sidebar-brand-icon">
                                <img width="110" height="30" src="../img/Logowhite.png" alt="Sunset Logo">
                            </div>
                        </a>


                        <div class="collapse navbar-collapse" id="navbarSupportedContent">
                            <ul class="navbar-nav mb-2 mb-lg-0 ms-lg-4  dropdown ">

                                <a data-username class="nav-link dropdown-toggle text-white-50" id="dromenu" href="#"
                                    role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                   
                                </a>
                                <a data-selector-menu class="nav-link bg-dark text-white-50" type="button"
                                    data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
                                    aria-controls="navbarToggleExternalContent" aria-expanded="false"
                                    aria-label="Toggle navigation">
                                    <span class="navbar-toggler-icon"></span>
                                </a>

                                <ul class="dropdown-menu bg-dark" aria-labelledby="navbarDropdown">
                                    <li data-menu-adm><a class="dropdown-item text-white-50"
                                            href="/administracion">Administracion</a></li>
                                    <li>
                                        <hr class="dropdown-divider text-white-50" />
                                    </li>
                                    <li><a class="dropdown-item text-white-50" data-toggle="modal"
                                            data-target="#logoutModal">Salir</a></li>
                                </ul>
                            </ul>
                        </div>
                    </div>
                </nav>
            </header>

            <div class="col-md-12 mb-4">
                <div class="container-fluid bg-dark fixed-menu responsive" data-modal-menu>
                    <div class="collapse p-4 responsive" id="navbarResponsive">
                        <div class="row align-items-start">
                            <div class="col-md-3 text-white features-menu" data-fast-btns>
                                <p class="h6"><i class="fas fa-star"></i> Favoritos</p>
                                <p class="small text-white-50" data-fav-help>Agregue favoritos haciendo clic en la
                                    estrella junto al nombre del servicio.</p>
                                <p class="small text-white-50 mb-1" data-favs-list></p>
                                <p class="h6 pt-2"><i class="fa fa-history"></i> Accedido recientemente</p>
                                <p class="small text-white-50 mb-1" data-recent></p>


                            </div>
                            <div class="col-md-9 column-menu">
                                <div class="row">
                                    <div class="col-md-3 text-white">
                                        <p data-menu-title class="h6"><i class="fas fa-file-alt"></i> Informes Generales
                                        </p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Viajes"
                                                data-fav-action="data-menu-travel"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/informes">Listado de Informes</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-shield-alt"></i> Patrimonio</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Patrimonio"
                                                data-fav-action="data-menu-patrimony"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-report="2"
                                                class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/patrimonio">Control de Patrimonio</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-address-card"></i> RRHH</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Cuestionario RRHH"
                                                data-fav-action="data-menu-quiz"><i class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/cuestionario">Cuestionario RRHH</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-white">
                                        <p data-menu-title class="h6"><i class="fas fa-chart-bar"></i> Informes
                                            Operacionales</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Ordenes de Compra"
                                                data-fav-action="data-menu-order"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/ordenesCompra">Ordenes de Compra</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Despesas con Vehiculos"
                                                data-fav-action="data-menu-expense-car"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/despesasVehiculos">Despesas con Vehiculos</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Orden de Compra - Gestran"
                                                data-fav-action="data-menu-ordergestran"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/ordenGestran">Orden de Compra - Gestran</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Cotizacion"
                                                data-fav-action="data-menu-quotation"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/cotizacion">Cotizacion</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Historial del Vehiculo"
                                                data-fav-action="data-menu-historycar"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-item class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/historialVehiculos">Historial del Vehiculo</a>
                                        </div>
                                    </div>
                                    <div class="col-md-3 text-white">
                                        <p class="h6"><i class="fas fa-truck"></i> Viaje</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Viajes"
                                                data-fav-action="data-menu-travel"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/vehiculos">Control de Viajes</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Disponibilidad"
                                                data-fav-action="data-menu-disponibilidad"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/disponibilidad">Disponibilidad</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p class="h6"><i class="fas fa-folder"></i> Documientos</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de Documientos"
                                                data-fav-action="data-menu-travel"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/documientos">Control de Documientos</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Control de URL"
                                                data-fav-action="data-menu-travel"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/encurtador">Control de URL</a>
                                        </div>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="Orden de Compra - Imagen"
                                                data-fav-action="data-menu-travel"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/orderPhoto">Orden de Compra - Imagen</a>
                                        </div>
                                        <div class="mb-2"></div>
                                        <p data-menu-title class="h6"><i class="fas fa-shopping-cart"></i>
                                            Administracion</p>
                                        <div class="d-block mb-1" data-div-link>
                                            <a href="" data-fav data-fav-name="ADM" data-fav-action="data-menu-adm"><i
                                                    class="btn-fav fas fa-star"></i></a>
                                            <a data-charge class="menu-item d-inline nav-link menu-link text-white-50"
                                                href="/administracion"> Gerenciar Usuarios</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

    <div id="content">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <div class="d-sm-flex align-items-center justify-content-md-center mb-4" data-title>
                    <h1 class="h3 mb-0 text-gray-800">Disponibilidad de Vehículos</h1>
                </div>
            </div>

            <div class="card text-center">
                <div class="card-header">
                    <ul class="nav nav-tabs card-header-tabs">
                        <li class="nav-item">
                            <a class="nav-link text-success active" aria-current="true" data-toggle="tab"
                                href="#availability">Disponible</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-primary" href="#travel" data-toggle="tab" aria-disabled="true">En Ruta</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-warning" href="#maintenance" data-toggle="tab">Mantenimiento</a>
                        </li>
                    </ul>
                </div>
                <div class="card-body tab-content">
                    <div class="tab-pane active" id="availability">
                        <div class="row justify-content-md-center">
                            <% carsLocation.forEach(location=> { %>
                                <div class="col-md-4">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-danger">
                                                <%= location.name%>
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <% if(location.cars.length > 0 ) { %>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <th scope="col">Camión</th>
                                                    <th scope="col" class="text-center">Capacidad</th>
                                                    <th scope="col" class="text-center">Tiempo detenido</th>
                                                </thead>
                                                <tbody>
                                                    <% location.cars.forEach(car=> { %>
                                                        <% let
                                                            carInMaintenance=location.carsMaintenance.find(maintenance=>
                                                            maintenance.plate ===
                                                            car.plate)
                                                            let findCar = listCars.find(findCar => findCar.plate ===
                                                            car.plate)
                                                            if (findCar) car.plate = findCar.description
                                                            const dateArrival = new Date(car.date)
                                                            const now = new Date(car.now)
                                                            const difference = now.getTime() - dateArrival.getTime()
                                                            if (!carInMaintenance) { %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= car.plate %>
                                                                </th>
                                                                <td class="text-center">
                                                                    <%= car.capacity %>
                                                                </td>
                                                                <td class="text-center">
                                                                    <%= (difference / 1000 / 60 / 60).toFixed(2)  %> Hr
                                                                </td>
                                                            </tr>
                                                            <% }%>
                                                                <% }) %>
                                                </tbody>
                                            </table>
                                            <p>Orden de Llegada</p>
                                            <% } else {%>  
                                                No hay vehículos disponibles
                                                <% } %>
                                        </div>
                                    </div>
                                </div>

                                <% }) %>
                        </div>
                    </div>
                    <div class="tab-pane" id="travel">
                        <div class="row justify-content-md-center">
                            <div class="col-md-12">
                                <div class="card shadow mb-4">
                                    <div class="card-header py-3">
                                        <h6 class="m-0 font-weight-bold text-danger">
                                            En Ruta
                                        </h6>
                                    </div>
                                    <div class="card-body">
                                        <% if(carsTravel.length > 0 ) { %>
                                        <table class="table table-sm table-striped table-hover">
                                            <thead>
                                                <th scope="col" class="text-left">Tipo</th>
                                                <th scope="col">Camión</th>
                                                <th scope="col">Furgon</th>
                                                <th scope="col" class="text-center">Capacidad</th>
                                                <th scope="col">Chofer</th>
                                                <th scope="col">Acompañante</th>
                                                <th scope="col">Salída</th>
                                                <th scope="col">Retiro</th>
                                                <th scope="col">Entrega</th>
                                                <th scope="col">Fecha</th>
                                            </thead>
                                            <tbody>
                                                <% carsTravel.forEach(car=> { %>
                                                    <% let findCar= listCars.find(findCar=> findCar.plate === car.plate);
                                                        if (findCar) car.plate = findCar.description;
                                                        const titleCase = (str) => {
                                                          var splitStr = str.toLowerCase().split(' ');
                                                          for (var i = 0; i < splitStr.length; i++) {
                                                              splitStr[i] = splitStr[i].charAt(0).toUpperCase() + splitStr[i].substring(1);
                                                          }
                                                          return splitStr.join(' ');
                                                        }  %>
                                                        <tr>
                                                            <th class="text-left">
                                                                 <%= car.travel ? car.travel.type : '' %>
                                                            </th>
                                                            <td>
                                                                <%= car.plate %>
                                                            </td>
                                                            <td>
                                                                <%= car.travel && car.travel.carsTravel && car.travel.carsTravel.length > 1 ? car.travel.carsTravel[1].plate : ''%>
                                                            </td>
                                                            <td class="text-center">
                                                                <%= car.travel ? car.travel.capacity : ''%>
                                                            </td>
                                                            <td>
                                                                <%= car.travel ? titleCase(car.travel.driverdesc).slice(0,11) : '' %>
                                                            </td>
                                                            <td>
                                                                <%= car.travel && car.travel.company_name ? titleCase(car.travel.company_name).slice(0,11) : '' %>
                                                            </td>
                                                            <td>
                                                                <%= car.travel ? car.travel.origindesc : ''%>
                                                            </td>
                                                            <td>
                                                                <%= car.travel ? car.travel.routedesc : '' %>
                                                            </td>
                                                            <td>
                                                                <%= car.travel ? car.travel.deliverydesc : '' %>
                                                            </td>
                                                            <td>
                                                                <%= car.travel ? car.travel.datedesc : '' %>
                                                            </td>
                                                        </tr>
                                                    <% }) %>
                                            </tbody>
                                        </table>
                                        <% } else {%>  
                                                No hay vehículos en ruta
                                                <% } %>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="maintenance">
                        <div class="row justify-content-md-center">
                            <% carsLocation.forEach(location=> { %>
                                <div class="col-md-4">
                                    <div class="card shadow mb-4">
                                        <div class="card-header py-3">
                                            <h6 class="m-0 font-weight-bold text-danger">
                                                <%= location.name%>
                                            </h6>
                                        </div>
                                        <div class="card-body">
                                            <% if(location.carsMaintenance.length > 0 ) { %>
                                            <table class="table table-striped table-hover">
                                                <thead>
                                                    <th scope="col">Camión</th>
                                                    <th scope="col" class="text-center">Capacidad</th>
                                                    <th scope="col">Motivo</th>
                                                </thead>
                                                <tbody>
                                                    <% location.carsMaintenance.forEach(car=> { %>
                                                        <% let carInMaintenance=location.cars.find(maintenance=>
                                                            maintenance.plate
                                                            === car.plate)
                                                            let findCar = listCars.find(findCar => findCar.plate ===
                                                            car.plate)
                                                            if (findCar) car.plate = findCar.description
                                                            if (!carInMaintenance) { %>
                                                            <tr>
                                                                <th scope="row">
                                                                    <%= car.plate %>
                                                                </th>
                                                                <td class="text-center">
                                                                    <%= car.capacity %>
                                                                </td>
                                                                <td class="text-center">
                                                                    <textarea rows="2"
                                                                        readonly> <%= car.description.trim() %></textarea>
                                                                </td>
                                                            </tr>
                                                            <% }%>
                                                                <% }) %>
                                                </tbody>
                                            </table>
                                            <% } else {%>  
                                                No hay vehículos en mantenimiento
                                                <% } %>
                                        </div>
                                    </div>
                                </div>

                                <% }) %>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>

    <%- include(partials + 'script.ejs' ) %>

        <script type="module" src="../js/controllers/loginController.js"></script>
        <script type="module" src="../js/controllers/menuController.js"></script>

        <%- include(partials + 'footer.ejs' ) %>