<%- include(partials + 'header.ejs' ) %>

    <div id="content">
        <div class="container-fluid">
            <div class="col-lg-12 text-center">
                <div class="d-sm-flex align-items-center justify-content-md-center mb-4" data-title>
                    <h1 class="h3 mb-0 text-gray-800">Vehiculos</h1>
                </div>
            </div>

            <div class="row col-md-12 mb-2 align-items-center">
                <div class="d-flex justify-content-center align-items-center" data-loading></div>
            </div>

            <div class="row justify-content-md-center">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header py-3">
                            <h6 class="m-0 font-weight-bold text-danger">Nueva viaje</h6>
                        </div>
                        <div class="card-body">
                            <form data-form-travel>
                                <div class="form-row">
                                    <div class="form-group col-md-2">
                                        <select data-origin id="origin" name="origin" class="form-select">
                                            <option value="" selected disabled>Salida</option>
                                            <%- include(partials + 'select/place.ejs' ) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <input data-date type="datetime-local" name="date" id="date"
                                            class="form-control" required>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select class="form-select" id="period" name="period" required data-period>
                                            <option value="" selected disabled>Tiempo</option>
                                            <option value="1">1</option>
                                            <option value="2">2</option>
                                            <option value="3">3</option>
                                            <option value="4">4</option>
                                            <option value="5">5</option>
                                            <option value="6">6</option>
                                            <option value="7">7</option>
                                            <option value="8">8</option>
                                            <option value="9">9</option>
                                            <option value="10">10</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select class="form-select" id="type" name="type" required data-type>
                                            <option value="" selected disabled>Tipo</option>
                                            <option value="1">Viatico Nacional</option>
                                            <option value="2">Retiro Contenedor</option>
                                            <option value="9">Retiro de Contenedor del Patio</option>
                                            <option value="7">Devolucion de Contenedor</option>
                                            <option value="3">Mantenimiento</option>
                                            <option value="4">Region Metropolitana</option>
                                            <option value="5">Retorno</option>
                                            <option value="6">Transferencia</option>
                                            <option value="8">Cubiertas para Reciclajes</option>
                                            <option value="10">Retorno + Transferencia Retorno + Dev. Contenedor</option>
                                            <option value="11">Retorno + Retiro Contenedor Transferencia + Dev. Contenedor</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select class="form-select" id="driver" name="driver" required disabled
                                            data-driver>
                                            <option value="" selected disabled>Chofér</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select data-company class="form-select" id="company" name="company" disabled>
                                            <option value="" selected disabled>Acompañante</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select data-truck class="form-select" id="car" name="car" required disabled>
                                            <option value="" selected disabled>Camion</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select data-chest class="form-select" id="chest" name="chest" disabled>
                                            <option value="" selected disabled>Furgon</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select data-route id="route" name="route" class="form-select" disabled>
                                            <option value="" selected disabled>Punto de Retiro</option>
                                            <%- include(partials + 'select/place.ejs' ) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <select data-delivery class="form-select" id="delivery" name="delivery"
                                            disabled>
                                            <option value="" selected disabled>Punto de Entrega</option>
                                            <%- include(partials + 'select/place.ejs' ) %>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-2">
                                        <textarea class="form-control" placeholder="Detalles de la entrega" rows="1"
                                            type="text" name="obs" id="obs" data-obs required></textarea>
                                    </div>
                                    <div class="form-group text-center col-md-12">
                                        <button class="btn btn-success" type="submit">Agregar</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>

            <div data-div-travels class="print row justify-content-md-center">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <h6 class="m-0 font-weight-bold text-danger">Listado de Viajes</h6>
                                </div>
                                <div class="form-group col-md-1">
                                    <select class="form-select" data-filter-travel-type>
                                        <option value="Todos" selected>TODAS LAS VIAJES</option>
                                        <option value="Viatico Nacional">Viatico Nacional</option>
                                        <option value="Retiro Contenedor">Retiro Contenedor</option>
                                        <option value="Devolucion de Contenedor">Devolucion de Contenedor</option>
                                        <option value="Mantenimiento">Mantenimiento</option>
                                        <option value="Region Metropolitana">Region Metropolitana</option>
                                        <option value="Retorno">Retorno</option>
                                        <option value="Transferencia">Transferencia</option>
                                        <option value="Retorno + Transferencia Retorno + Dev. Contenedor">Retorno + Transferencia Retorno + Dev. Contenedor</option>
                                        <option value="Retorno + Retiro Contenedor Transferencia + Dev. Contenedor">Retorno + Retiro Contenedor Transferencia + Dev. Contenedor</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <select class="form-select" data-filter-travel-origin>
                                        <option value="Todos" selected>TODAS LAS ORIGENS</option>
                                        <%- include(partials + 'select/placeDescription.ejs' ) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <select class="form-select" data-filter-travel-route>
                                        <option value="Todos" selected>TODOS LOS DESTINOS</option>
                                        <%- include(partials + 'select/placeDescription.ejs' ) %>
                                    </select>
                                </div>
                                <div class="form-group col-md-2">
                                    <select class="form-select" data-filter-travel-trucktype>
                                        <option value="Todos" selected>TODOS LOS CAMIONES</option>
                                        <option value="AUTOMOVIL">AUTOMOVIL</option>
                                        <option value="CAMIÓN">CAMION</option>
                                        <option value="TRACTO CAMION">TRACTO CAMION</option>
                                        <option value="CAMION DOBLE EJE">CAMION DOBLE EJE</option>
                                        <option value="CAMIONETA">CAMIONETA</option>
                                        <option value="PORTER">PORTER</option>
                                        <option value="FURGON">FURGON</option>
                                        <option value="SEMI REMOLQUE">SEMI REMOLQUE</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2 text-right">
                                    <div class="btn-group">
                                        <button type="button" class="btn btn-primary dropdown-toggle"
                                            data-bs-toggle="dropdown" aria-expanded="false">
                                            Informes
                                        </button>
                                        <ul class="dropdown-menu">
                                            <li><button data-print-travel class="dropdown-item info-button"
                                                    type="button">Viatico Nacional - Entrega Cliente</button></li>
                                            <li><button data-print-strategic class="dropdown-item info-button"
                                                    type="button">Estratégico/Resumen del día</button></li>
                                            <li><button data-bs-toggle="modal" data-bs-target="#reportStrategic"
                                                    class="dropdown-item info-button" type="button">Estratégico/Resumen
                                                    PDF</button></li>
                                        </ul>
                                    </div>
                                </div>
                                <div class="form-group col-md-2">
                                    <input class="form-control" type="date" data-search-date>
                                </div>
                            </div>
                        </div>

                        <div class="card-body">
                            <div class="row">
                                <div class="col-md-1 text-center">
                                    <h6>Tipo</h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>Salida</h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>Retiro/Obs</h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>Entrega</h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>Chofér</h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>Acompañante</h6>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6>Camion</h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>Furgon</h6>
                                </div>
                                <div class="col-md-1 text-center">
                                    <h6>Capacidad</h6>
                                </div>
                                <div class="col-md-2 text-center">
                                    <h6>Fecha</h6>
                                </div>
                            </div>
                            <div class="row" data-row-travel>

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div data-div-travels class="print row justify-content-md-center">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <h6 class="m-0 font-weight-bold text-danger">Listado de Vehículos</h6>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <select class="form-select" data-filter-truck-type>
                                        <option value="TODOS" selected>Todos los vehiculos</option>
                                        <option value="AUTOMOVIL">AUTOMOVIL</option>
                                        <option value="CAMIÓN">CAMION</option>
                                        <option value="TRACTO CAMION">TRACTO CAMION</option>
                                        <option value="CAMION DOBLE EJE">CAMION DOBLE EJE</option>
                                        <option value="CAMIONETA">CAMIONETA</option>
                                        <option value="PORTER">PORTER</option>
                                        <option value="FURGON">FURGON</option>
                                        <option value="SEMI REMOLQUE">SEMI REMOLQUE</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <select class="form-select" data-filter-truck-status>
                                        <option value="TODOS" selected>Todos los status</option>
                                        <option value="1">Disponible</option>
                                        <option value="2">No disponible</option>
                                        <option value="3">Mantenimiento</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <select class="form-select" data-filter-truck-sede>
                                        <option value="TODOS" selected>Todos las sedes</option>
                                        <option value="KM 28">Km28</option>
                                        <option value="YPANE">Ypane</option>
                                        <option value="CDE">CDE</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <select class="form-select" data-filter-truck-brand>
                                        <option value="TODOS" selected>Todos las marcas</option>
                                        <option value="NISSAN">NISSAN</option>
                                        <option value="VOLKSWAGEN">VOLKSWAGEN</option>
                                        <option value="KIA">KIA</option>
                                        <option value="CHEVROLET">CHEVROLET</option>
                                        <option value="MERCEDES BENZ">MERCEDES BENZ</option>
                                        <option value="FOTON">FOTON</option>
                                        <option value="FUSO">FUSO</option>
                                        <option value="SCANIA">SCANIA</option>
                                        <option value="HYUNDAI">HYUNDAI</option>
                                        <option value="VOLVO">VOLVO</option>
                                        <option value="FIAT">FIAT</option>
                                        <option value="VANHOOL">VANHOOL</option>
                                        <option value="GUERRA">GUERRA</option>
                                        <option value="RANDON">RANDON</option>
                                        <option value="FERCAP">FERCAP</option>
                                        <option value="ORO VERDE">ORO VERDE</option>
                                        <option value="FAW">FAW</option>
                                        <option value="LIBRELATO">LIBRELATO</option>
                                        <option value="GOODYEAR">GOODYEAR</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-3 text-right">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#addcar"><i class="fas fa-plus"></i> Nuevo</button>
                                    <button data-btn-collapse type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseCars" aria-expanded="false"
                                        aria-controls="collapseCars" class="btn bt-secondary btn-circle">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="collapse card-body" id="collapseCars">
                            <table class="table table-bordered text-center" id="dataTable" width="100%" cellspacing="0">
                            </table>
                            <div class="form-group text-left pt-2">
                                <button type="button" class="btn btn-secondary" data-print>Print</button>
                                <button type="button" class="btn btn-secondary" data-copy-travel>Copiar</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>


            <div class="row justify-content-md-center">
                <div class="col-lg-12">
                    <div class="card shadow mb-4">
                        <div class="card-header">
                            <div class="form-row">
                                <div class="form-group col-md-1">
                                    <h6 class="m-0 font-weight-bold text-danger">Listado de Chofér</h6>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <select class="form-select" data-filter-driver-status>
                                        <option value="TODOS" selected>Todos los status</option>
                                        <option value="1">Disponible</option>
                                        <option value="2">No disponible</option>
                                        <option value="3">Temporalmente no disponible</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-2 text-center">
                                    <select class="form-select" data-filter-driver-local>
                                        <option value="TODOS" selected>Todos los locales</option>
                                        <option value="KM 1">KM 1</option>
                                        <option value="KM 28">KM 28</option>
                                        <option value="YPANE">YPANE</option>
                                    </select>
                                </div>
                                <div class="form-group col-md-7 text-right">
                                    <button type="button" class="btn btn-success" data-bs-toggle="modal"
                                        data-bs-target="#adddriver"><i class="fas fa-plus"></i> Nuevo</button>
                                    <button data-btn-collapse type="button" data-bs-toggle="collapse"
                                        data-bs-target="#collapseDriver" aria-expanded="false"
                                        aria-controls="collapseCars" class="btn bt-secondary btn-circle">
                                        <i class="fas fa-arrow-down"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="collapse card-body" id="collapseDriver">
                            <table class="table table-bordered text-center" id="dataDriver" width="100%"
                                cellspacing="0"></table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="addcar" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Camión</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form data-form-add-car>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input id="plate" name="plate" placeholder="Plaqueta" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="brand" name="brand" placeholder="Marca" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="model" name="model" placeholder="Modelo" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <select name="cartype" id="cartype" class="form-select">
                                    <option value="" selected disabled>Tipo</option>
                                    <option value="AUTOMOVIL">AUTOMOVIL</option>
                                    <option value="CAMIÓN">CAMIÓN</option>
                                    <option value="TRACTO CAMION">TRACTO CAMION</option>
                                    <option value="CAMION DOBLE EJE">CAMION DOBLE EJE</option>
                                    <option value="CAMIONETA">CAMIONETA</option>
                                    <option value="PORTER">PORTER</option>
                                    <option value="FURGON">FURGON</option>
                                    <option value="SEMI REMOLQUE">SEMI REMOLQUE</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="color" name="color" placeholder="Color" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="year" name="year" placeholder="Año" type="date" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <input id="chassis" name="chassis" placeholder="Chassis" type="text"
                                    class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <input id="capacity" name="capacity" placeholder="Capacidad" type="number"
                                    class="form-control">
                            </div>
                            <div class="form-group col-md-md-6">
                                <select name="fuel" id="fuel" class="form-select">
                                    <option value="" selected disabled>Combustible</option>
                                    <option value="N/A">N/A</option>
                                    <option value="Diesel Normal">Diesel Normal</option>
                                    <option value="Nafta Aditivada">Nafta Aditivada</option>
                                    <option value="Diesel Podium">Diesel Podium</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="departament" id="departament" class="form-select">
                                    <option value="" selected disabled>Departament</option>
                                    <option value="N/A">N/A</option>
                                    <option value="Logistica">Logistica</option>
                                    <option value="ADM">ADM</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select name="thirst" id="thirst" class="form-select">
                                    <option value="" selected disabled>Sede</option>
                                    <option value="KM 28">KM 28</option>
                                    <option value="YPANE">YPANE</option>
                                    <option value="CDE">CDE</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="obs" name="obs" placeholder="Observación" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="adddriver" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Agregar Chofér</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <form data-form-add-driver>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <input name="name" placeholder="Nombre" type="text" class="form-control" required>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="idcard" name="idcard" placeholder="ID Card" type="text" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <input id="phone" name="phone" placeholder="Teléfono" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <input id="thirst" name="thirst" placeholder="Sede" type="text" class="form-control">
                            </div>
                            <div class="form-group col-md-6">
                                <select name="type" id="type" class="form-select">
                                    <option value="" selected disabled>Tipo</option>
                                    <option value="SIN INFORMACION">SIN INFORMACION</option>
                                    <option value="CHOFER CARRETERO">CHOFER CARRETERO</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="classification" name="classification" class="form-select">
                                    <option value="" selected disabled>Clasificación</option>
                                    <option value="SIN INFORMACION">SIN INFORMACION</option>
                                    <option value="CHOFER CONTRADADO">CHOFER CONTRADADO</option>
                                    <option value="CHOFER DE REPARTO">CHOFER DE REPARTO</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <select id="vacation" name="vacation" class="form-select">
                                    <option value="" selected disabled>Vacaciones</option>
                                    <option value="SIN INFORMACION">SIN INFORMACION</option>
                                    <option value="NO">NO</option>
                                    <option value="SI">SI</option>
                                </select>
                            </div>
                            <div class="form-group col-6">
                                <input id="obs" name="obs" placeholder="Observación" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancelar</button>
                        <button type="submit" class="btn btn-success">Agregar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="modal fade" id="reportStrategic" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <form data-report-pdf>
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Informe Estratégico/Resumen PDF</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="datestart">Fecha Inicial:</label>
                                <input class="form-control" type="date" name="datestart" id="datestart">
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateend">Fecha Final:</label>
                                <input class="form-control" type="date" name="dateend" id="dateend">
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-primary">Generar</button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    <div class="modal fade" id="settingsTravel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Ajustes</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="d-grid gap-2">
                        <button data-travel-edit class="btn btn-success" type="button">Editar Viaje</button>
                        <button data-travel-delete class="btn btn-danger" type="button">Borrar Viaje</button>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div class="modal fade" id="editTravel" tabindex="-1">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <form data-form-edit-travel>
                    <div class="modal-header">
                        <h5 class="modal-title">Editar Viaje</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="form-row">
                            <div class="form-group col-md-6">
                                <label for="originedit">Salida</label>
                                <select id="originedit" name="origin" class="form-select">
                                    <option value="" selected>Salida</option>
                                    <%- include(partials + 'select/place.ejs' ) %>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="dateedit">Fecha</label>
                                <input data-date type="datetime-local" name="date" id="dateedit" class="form-control"
                                    required>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="periodedit">Tiempo</label>
                                <select class="form-select" id="periodedit" name="period" required>
                                    <option value="" selected>Tiempo</option>
                                    <option value="1">1</option>
                                    <option value="2">2</option>
                                    <option value="3">3</option>
                                    <option value="4">4</option>
                                    <option value="5">5</option>
                                    <option value="6">6</option>
                                    <option value="7">7</option>
                                    <option value="8">8</option>
                                    <option value="9">9</option>
                                    <option value="10">10</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="typeedit">Tipo</label>
                                <select class="form-select" id="typeedit" name="type" required data-type>
                                    <option value="" selected>Tipo</option>
                                    <option value="1">Viatico Nacional</option>
                                    <option value="2">Retiro Contenedor</option>
                                    <option value="9">Retiro de Contenedor del Patio</option>
                                    <option value="7">Devolucion de Contenedor</option>
                                    <option value="3">Mantenimiento</option>
                                    <option value="4">Region Metropolitana</option>
                                    <option value="5">Retorno</option>
                                    <option value="6">Transferencia</option>
                                    <option value="8">Cubiertas para Reciclajes</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="driveredit">Chofér</label>
                                <select class="form-select" id="driveredit" name="driver" required>
                                    <option value="" selected>Chofér</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="companyedit">Acompañante</label>
                                <select class="form-select" id="companyedit" name="company">
                                    <option value="" selected>Acompañante</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="caredit">Camion</label>
                                <select class="form-select" id="caredit" name="car" required>
                                    <option value="" selected>Camion</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="chestedit">Furgon</label>
                                <select class="form-select" id="chestedit" name="chest">
                                    <option value="" selected>Furgon</option>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="routeedit">Punto de Retiro</label>
                                <select id="routeedit" name="route" class="form-select">
                                    <option value="" selected>Punto de Retiro</option>
                                    <%- include(partials + 'select/place.ejs' ) %>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="deliveryedit">Punto de Entrega</label>
                                <select class="form-select" id="deliveryedit" name="delivery">
                                    <option value="" selected>Punto de Entrega</option>
                                    <%- include(partials + 'select/place.ejs' ) %>
                                </select>
                            </div>
                            <div class="form-group col-md-6">
                                <label for="obsedit">Detalles de la entrega</label>
                                <textarea class="form-control" placeholder="Detalles de la entrega" rows="1" type="text"
                                    name="obs" id="obsedit"></textarea>
                            </div>
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Fechar</button>
                        <button type="submit" class="btn btn-success">Editar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <%- include(partials + 'script.ejs' ) %>

        <script type="module" src="../js/controllers/carController.js"></script>
        <script type="module" src="../js/controllers/loginController.js"></script>
        <script type="module" src="../js/controllers/menuController.js"></script>
        <script src="../js/libs/printThis.js"></script>

        <%- include(partials + 'footer.ejs' ) %>