<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Compras</title>

    <style>
        .item1 {
            grid-area: header;
            grid-gap: 1px;
        }

        .item2 {
            grid-area: menu;
        }

        .item3 {
            grid-area: main;
            border: 2px solid black;
        }

        .item4 {
            grid-area: right;
            border: 2px solid black;
        }

        .item5 {
            grid-area: footer;
        }


        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'menu main main main right right'
                'menu footer footer footer footer footer';
            grid-gap: 10px;
            padding: 10px;
        }


        h1 {
            align-items: center;
            text-align: center;
        }

        h3 {
            align-items: center;
            text-align: center;
            margin-bottom: 3px;
        }

        h4 {
            align-items: center;
            text-align: right;
            margin-right: 30px;
        }

        p {
            align-items: center;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            height: 60px;
            padding-left: 40px;
            padding-top: 25px;
        }

        table {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right: 10px;
            margin-left: 10px;
        }

        thead {
            margin-top: 25px;
        }

        th {
            text-align: left;
            padding: 8px;
        }

        td {
            text-align: left;
            padding: 8px;
        }

        tr {
            border-bottom: 2px solid black;
        }


        #dataTable tr:hover {
            background-color: #ddd;
        }

        #dataTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            color: #0000FF;
            background-color: #DCDCDC	;
        }

        .footer {
            top: 100%;
            left: 0;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
    <div class="grid-container">
        <div class="item2"> <img src="../img/launch.png" alt="Sunset Logo"></div>
        <div class="item3">
            <h2 style="margin-left: 3px;text-align: start; align-items:flex-start;">SUNSET SA COMERCIAL INDUSTRIAL</h2>
            <h2 style="margin-left: 3px;text-align: start; align-items:flex-start;">G3COM151F1 - Informe de Orden de
                Compra</h2>
        </div>
        <div class="item4">
            <h2 style="text-align: center; align-items:center;margin-top: 40px;">
                <%=dateReg%>
            </h2>
        </div>

    </div>

    <h3>Filtros</h3>
    <% if(filter.group) {%>
        <p style="color: gray; font-style: italic;">Agrupado por <%= filter.group %> ---

                <% }%>
                    <% if(filter.datestart && filter.dateend) {%>
                        Período: <%= filter.datestart %> hasta <%= filter.dateend %> 

                                <% }%>
                                    <% if(filter.numberstart && filter.numberend) {%>
                                        --- Número >= <%= filter.numberstart %>; Número <= <%=filter.numberend %>
        </p>
        <% }%>


            <% for (let index=0; index < Object.keys(orders).length; index++) { %>
                <h3 style="color: #9932cc;text-align: start; align-items: center; margin-left: 15px; text-decoration:underline;">Agrupado por <%= filter.group %>:
                        <%=Object.keys(orders)[index]%>
                </h3>
                <table id="dataTable">
                    <col style="width:2.5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:15%">
                    <col style="width:15%">
                    <col style="width:2.5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:10%">
                    <col style="width:5%">
                    <thead>
                        <tr>
                            <th>Nr OC</th>
                            <th>Fecha</th>
                            <th>Chapa</th>
                            <th>Descripcion Vehiculo</th>
                            <th>Producto/Servicio</th>
                            <th>Cant</th>
                            <th>Vlr. Unit</th>
                            <th>Vlr. Total</th>
                            <th>Proveedor</th>
                            <th>Naturaleza</th>
                            <th>Centro de Costo</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders[`${Object.keys(orders)[index]}`].forEach(order=> {%>


                            <tr>
                                <td>
                                    <%= order.nr_oc %>
                                </td>
                                <td>
                                    <% let date=new Date(order.dt_emission) %>
                                        <%= date.getDate() %>/<%= date.getMonth() + 1%>/<%= date.getFullYear() %>
                                </td>
                                <td>
                                    <%= order.placa %>
                                </td>
                                <td style="font-size: 12px;">
                                    <%= order.modelo %> - <%= order.categoria %>
                                </td>
                                <td>
                                    <%= order.product %>
                                </td>
                                <td>
                                    <%= order.qt_product %>
                                </td>
                                <td style="text-align: right;">
                                    <%= order.vlr_unitario.toLocaleString('es'); %>
                                </td>
                                <td style="text-align: right;">
                                    <%= order.vlr_total.toLocaleString('es'); %>
                                </td>
                                <td style="font-size: 12px;">
                                    <%= order.proveedor %>
                                </td>
                                <td>
                                    <%= order.naturaleza %>
                                </td>
                                <td>
                                    <%= order.centro_custo %>
                                </td>
                                <td>
                                    <%= order.status_oc %>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
                <% let amount=Object.keys(orders[`${Object.keys(orders)[index]}`]).reduce(function (previous, key) {
                    return previous + orders[`${Object.keys(orders)[index]}`][key].vlr_total; }, 0); %>

                    <h4>Totales: Gs <%= amount.toLocaleString('es'); %>
                    </h4>
                    <%} %>
                        <div class="footer">
                            <div class="grid-container" style="align-items: center; justify-content: center; color: gray;" >
                                <p style="padding-right: 400px;">Version 8.000.03</p>
                                <p>13 - Informe para Aprobacion de Cuentas</p>
                                <p style="padding-left: 400px;"><strong> Monto Total: Gs <%= monto.vlr_total.toLocaleString('es');%></strong></p>
                            </div>
                        </div>
</body>

</html>