<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Compras</title>

    <style>
        .item1 {
            grid-area: header;
            grid-gap: 1px;
        }

        .item2 {
            grid-area: menu;
        }

        .item3 {
            grid-area: main;
            border: 2px solid black;
        }

        .item4 {
            grid-area: right;
            border: 2px solid black;
        }

        .item5 {
            grid-area: footer;
        }


        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'menu main main main right right'
                'menu footer footer footer footer footer';
            grid-gap: 10px;
            padding: 10px;
        }


        h1 {
            align-items: center;
            text-align: center;
        }

        h3 {
            align-items: center;
            text-align: center;
            margin-bottom: 3px;
        }

        h4 {
            align-items: center;
            text-align: right;
            margin-right: 30px;
        }

        p {
            align-items: center;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            height: 60px;
            padding-left: 40px;
            padding-top: 25px;
        }

        table {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right: 10px;
            margin-left: 10px;
        }

        thead {
            margin-top: 25px;
        }

        th {
            text-align: left;
            padding: 8px;
        }

        td {
            text-align: left;
            padding: 8px;
        }

        tr {
            border-bottom: 2px solid black;
        }


        #dataTable tr:hover {
            background-color: #ddd;
        }

        #dataTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            color: #0000FF;
            background-color: #DCDCDC;
        }

        .footer {
            top: 100%;
            left: 0;
            bottom: 0;
            width: 100%;
        }

        .responsive {
            width: 100%;
            height: auto;
        }
    </style>
</head>

<body>
    <div class="grid-container">
        <div class="item2 responsive"><img src="../img/launch.png" alt="Sunset Logo"></div>
        <div class="item3">
            <h2 style="margin-left: 3px;text-align: start; align-items:flex-start;">SUNSET SA COMERCIAL INDUSTRIAL</h2>
            <h2 style="margin-left: 3px;text-align: start; align-items:flex-start;">G3COM151F1 - Informe de Orden de
                Compra</h2>
        </div>
        <div class="item4">
            <h2 style="text-align: center; align-items:center;margin-top: 40px;">
                <%=dateReg%>
            </h2>
        </div>

    </div>

    <h3>Filtros</h3>
    <% if(filter.group) {%>
        <p style="color: gray; font-style: italic;">Agrupado por <%= filter.group %> ---

                <% }%>
                    <% if(filter.datestart && filter.dateend) {%>
                        Período: <%= filter.datestart %> hasta <%= filter.dateend %>

                                <% }%>
                                    <% if(filter.numberstart && filter.numberend) {%>
                                        --- Número >= <%= filter.numberstart %>; Número <= <%=filter.numberend %>
        </p>
        <% }%>


            <% for (let index=0; index < Object.keys(orders).length; index++) { %>
                <h3
                    style="color: #9932cc;text-align: start; align-items: center; margin-left: 15px; text-decoration:underline;">
                    Agrupado por <%= filter.group %>:
                        <%=Object.keys(orders)[index]%>
                </h3>
                <table id="dataTable">
                    <col style="width:2.5%">
                    <col style="width:2.5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:15%">
                    <col style="width:12.5%">
                    <col style="width:2.5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:5%">
                    <col style="width:10%">
                    <col style="width:5%">
                    <thead>
                        <tr>
                            <th>Nr OC</th>
                            <th>Nr COT</th>
                            <th>Fecha</th>
                            <th>Chapa</th>
                            <th>Descripcion Vehiculo</th>
                            <th>Producto/Servicio</th>
                            <th>Cant</th>
                            <th>Vlr. Unit</th>
                            <th>Vlr. Total</th>
                            <th>Proveedor</th>
                            <th>Naturaleza</th>
                            <th>Centro de Costo</th>
                            <th>Estado</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% orders[`${Object.keys(orders)[index]}`].forEach(order=> {%>


                            <tr>
                                <td>
                                    <%= order.nr_oc %>
                                </td>
                                <td>
                                    <%= order.nr_quotation %>
                                </td>
                                <td>
                                    <% let date=new Date(order.dt_emission) %>
                                        <%= date.getDate() %>/<%= date.getMonth() + 1%>/<%= date.getFullYear() %>
                                </td>
                                <td>
                                    <%= order.placa %>
                                </td>
                                <td style="font-size: 12px;">
                                    <%= order.modelo %> - <%= order.categoria %>
                                </td>
                                <td style="font-size: 12px;">
                                    <%= order.product %>
                                </td>
                                <td>
                                    <%= order.qt_product %>
                                </td>
                                <td style="text-align: right;">
                                    <% let vlr_unitario = order.vlr_unitario; if(order.vlr_unitario.toString().length === 4 || (order.vlr_unitario.toString().length === 7 && order.vlr_unitario.toLocaleString('es').toString().includes(","))){var unit = order.vlr_unitario.toString().split(''); var map = unit.map(Number); vlr_unitario = vlr_unitario.toLocaleString('es').toString().length === 7? `${map[0]}.${map[1]}${map[2]}${map[3]},${map[5]}${map[6]}` : `${map[0]}.${map[1]}${map[2]}${map[3]}` }%> 
                    
                                    <%= vlr_unitario.toLocaleString('es') %>
                                </td>
                                <td style="text-align: right;">
                                    <% let vlr_total = order.vlr_total; if(order.vlr_total.toString().length === 4 || (order.vlr_total.toString().length === 7 && order.vlr_total.toLocaleString('es').toString().includes(","))){var total = order.vlr_total.toString().split(''); var map = total.map(Number); vlr_total = vlr_total.toLocaleString('es').toString().length === 7? `${map[0]}.${map[1]}${map[2]}${map[3]},${map[5]}${map[6]}` : `${map[0]}.${map[1]}${map[2]}${map[3]}` }%> 
                    
                                    <%= vlr_total.toLocaleString('es') %>
                                </td>
                                <td style="font-size: 12px;">
                                    <%= order.proveedor %>
                                </td>
                                <td>
                                    <%= order.naturaleza %>
                                </td>
                                <td>
                                    <%= order.centro_custo %>
                                </td>
                                <td>
                                    <%= order.status_oc %>
                                </td>
                            </tr>
                            <%})%>
                    </tbody>
                </table>
                <% let amount=Object.keys(orders[`${Object.keys(orders)[index]}`]).reduce((a, b) => {
                    switch (orders[`${Object.keys(orders)[index]}`][b].coin) {
                        case "R$":
                            a.vlr_totalRs += orders[`${Object.keys(orders)[index]}`][b].vlr_total
                            break;
                        case "US$":
                            a.vlr_totalUsd += orders[`${Object.keys(orders)[index]}`][b].vlr_total
                            break;
                        case "G$":
                            a.vlr_totalGs += orders[`${Object.keys(orders)[index]}`][b].vlr_total
                            break;
                    }
    
                    return a;
                },{
                    vlr_totalRs: 0,
                    vlr_totalUsd: 0,
                    vlr_totalGs: 0
                });                    
                    
                    %>

                    <% if(amount.vlr_totalUsd > 0) {%>  <h4>Totales USD: <%=
                        amount.vlr_totalUsd.toLocaleString('en-US');%></h4><% } %> 
                    <% if(amount.vlr_totalRs > 0) {%>  <h4>Totales R$: <%=
                        amount.vlr_totalRs.toLocaleString('pt-BR',{ minimumFractionDigits: 2 });%></h4><% } %> 
                    <% if(amount.vlr_totalGs > 0) {%>  <h4>Totales Gs: <%=
                        amount.vlr_totalGs.toLocaleString('es');%></h4><% } %> 
                    <%} %>
                    <hr>
                    <br>
                    <% if(monto.vlr_totalUsd > 0) {%>  <h4><strong> Gastos en Dolares: USD <%=
                        monto.vlr_totalUsd.toLocaleString('en-US');%></strong></h4><% } %> 
                    <% if(monto.vlr_totalRs > 0) {%>  <h4><strong> Gastos en Reales: R$ <%=
                        monto.vlr_totalRs.toLocaleString('pt-BR',{ minimumFractionDigits: 2 });%></strong></h4><% } %> 
                    <% if(monto.vlr_totalGs > 0) {%>  <h4><strong> Gastos en Guaranies: Gs <%=
                        monto.vlr_totalGs.toLocaleString('es');%></strong></h4><% } %> 

                        <div class="footer">
                            <div class="grid-container"
                                style="align-items: center; justify-content: center; color: gray;">
                                <p style="padding-right: 400px;">Version 8.000.03</p>
                                <p>13 - Informe para Aprobacion de Cuentas</p>
                            </div>
                        </div>
                        <script>
                            window.onload = function () { window.print(); }
                        </script>
</body>

</html>