<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Informe de Cotizacion</title>

    <style>
        body {
            margin-top: 10px !important;
            padding-top: 10px !important;
            padding-left: 5px !important;
            padding-left: 5px !important;
            padding-right: 5px !important;
            padding-right: 5px !important;
        }

        .item1 {
            grid-area: header;
            grid-gap: 1px;
        }

        .item2 {
            grid-area: menu;
        }

        .item3 {
            grid-area: main;
            border: 2px solid black;
        }

        .item4 {
            grid-area: right;
            border: 2px solid black;
        }

        .item5 {
            grid-area: footer;
        }


        .grid-container {
            display: grid;
            grid-template-areas:
                'header header header header header header'
                'menu main main main right right'
                'menu footer footer footer footer footer';
            grid-gap: 10px;
            padding: 10px;
        }


        h1 {
            align-items: center;
            text-align: center;
        }

        h3 {
            align-items: center;
            text-align: center;
            margin-bottom: 3px;
        }

        h4 {
            align-items: center;
            text-align: right;
            margin-right: 30px;
        }

        p {
            align-items: center;
            text-align: center;
        }

        img {
            max-width: 100%;
            height: auto;
            height: 60px;
            padding-left: 40px;
            padding-top: 10px;
        }

        table {
            font-family: Arial, Helvetica, sans-serif;
            width: 100%;
            border-collapse: collapse;
            margin-top: 15px;
            margin-bottom: 15px;
            margin-right: 10px;
            margin-left: 10px;
            font-size: 12px;
        }

        thead {
            margin-top: 25px;
        }

        th {
            text-align: left;
            padding: 8px;
        }

        td {
            text-align: left;
            padding: 8px;
            font-size: 11px;
            font-family: inherit;
            font-weight: 500;
        }

        tr {
            border-bottom: 1px solid grey;
        }


        #dataTable tr:hover {
            background-color: #ddd;
        }

        #dataTable th {
            padding-top: 12px;
            padding-bottom: 12px;
            text-align: left;
            color: #0000FF;
            background-color: #DCDCDC;
        }

        .footer {
            top: 100%;
            left: 0;
            bottom: 0;
            width: 100%;
            padding-top: 50px;
        }
    </style>
</head>

<body>
    <div class="grid-container">
        <div class="item2"> <img src="../img/launch.png" alt="Sunset Logo"></div>
        <div class="item3">
            <h2 style="margin-left: 5px;text-align:center; align-items:center;">COTIZACION DE PRECIOS</h2>
        </div>
        <div class="item4">
            <h2 style="text-align: center; align-items:center;">
                <%=dateReg%>
            </h2>
        </div>
    </div>

    <h3>Para aprobacion del diretorio</h3>
    <p style="color: gray; font-style: italic;">
        <% if(filter.provider) {%>
            Proveedor: <%= filter.provider %> ---

                <% }%>
                    <% if(filter.datestart && filter.dateend) {%>
                        Período: <%= filter.datestart %> hasta <%= filter.dateend %>

                                <% }%>
                                    <% if(filter.status) {%>
                                        --- Status: <%= filter.status %>
    </p>
    <% }%>

        <div style="padding-left: 20px; padding-right: 20px; ">
            <% orders.forEach(order=> { %>

                <h3
                    style="text-align:center;float:inline-start; padding-top: 20px; text-decoration: underline; background-color: #ffffa6; grid-row: 1 / 2; margin-top: 70px;">
                    COTIZACION: <%= order[0] %>
                </h3>
                <h3 style="text-align:center;float:inline-start;">
                    <% if(order[1][0][1][0][0].truck) { let car=order[1][0][1][0][0]; %>
                        <%= car.truck %> - <%= car.category %> - <%= car.model %>
                                    <% } else { %> Sin vehiculo definido para Taller, Stock o ADM.
                </h3>
                <% }%>
                    <table id="dataTable">
                        <col style="width:20%">
                        <col style="width:15%">
                        <col style="width:5%">
                        <col style="width:4%">
                        <col style="width:8%">
                        <col style="width:8%">
                        <col style="width:8%">
                        <col style="width:10%">
                        <thead>
                            <tr>
                                <th>ARTICULO</th>
                                <th>GRUPO</th>
                                <th>MARCA</th>
                                <th>CANT</th>
                                <% let prov1 = ''; let prov2 = ''; let prov3 = ''; %> 
                                <% order[1].forEach(group=> { %>
                                    <% group[1].forEach((brand, i)=> { %>
                                   <% if(brand[0] && prov1 == '') { prov1= brand[0].proveedor %> <th style="text-align: right;"><%= brand[0].proveedor %></th> <% } %> 
                                   <% if(brand[1] && prov2 == '') { prov2= brand[1].proveedor %> <th style="text-align: right;"><%= brand[1].proveedor %></th> <% } %> 
                                   <% if(brand[2] && prov3 == '') { prov3= brand[2].proveedor %> <th style="text-align: right;"><%= brand[2].proveedor %></th> <% } %> 
                                    <% }) %>
                                <% }) %>
                                <% if(prov2 == '') { %> <th style="text-align: right;"></th> <% } %> 
                                <% if(prov3 == '') { %> <th style="text-align: right;"></th> <% } %> 
                                <th style="padding-left: 10px;">NATURALEZA</th>
                                <th>ESTADO</th>
                                <th>OC</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% let amountMin; %> 
                            <% let gindex = ''; let provider1 = 0; let provider2 = 0; let provider3 = 0; %> 
                            <% order[1].forEach(group=> { %>
                                <% provider1 += group[1].minprovider1; 
                                   provider2 += group[1].minprovider2;
                                   provider3 += group[1].minprovider3;
                                %> 
                                <% group[1].forEach((brand, ibr) => {  %>
                                    <% if(brand[0].qtd_product) { %> 
                                        <% if(gindex != '' && gindex !== brand[0].product) {%> 
                                            <tr style="background-color: #DCDCDC;" class="bg-secondary mb-2">
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>
                                                <td></td>                                       
                                            </tr> 
                                            <% }%>
                                            <% gindex = brand[0].product  %>
                                    <tr>
                                        <td>
                                            <%= brand[0].product %>
                                        </td>
                                        <td>
                                            <%= brand[0].grupo %>
                                        </td>
                                        <td>
                                            <% if(brand[0].type == "SERVICIO") {%> SERVICIO <% }else{ %>    <%= brand[0].model_product %><% } %> 
                                        </td>
                                        <td>
                                            <%= brand[0].qtd_product %>
                                        </td>
                                        <td <% if(brand[0].qtd_product * brand[0].valor_unit == group.min) { %> style="background-color: #ffffa6; text-align: right;" <% }else{ %>  style="text-align: right;" <% } %> >
                                            <%= (brand[0].qtd_product * brand[0].valor_unit).toLocaleString('es') %>
                                        </td>
                                        <td <% if(brand[1] && brand[1].qtd_product * brand[1].valor_unit == group.min) { %> style="background-color: #ffffa6; text-align: right;" <% }else{ %>  style="text-align: right;" <% } %> >
                                            <% if(brand[1]) {%>
                                            <%= (brand[1].qtd_product * brand[1].valor_unit).toLocaleString('es') %>
                                                    <% } %>
                                        </td>
                                        <td <% if(brand[2] && brand[2].qtd_product * brand[2].valor_unit == group.min) { %> style="background-color: #ffffa6; text-align: right;" <% }else{ %>  style="text-align: right;" <% } %> >
                                            <% if(brand[2]) {%>
                                            <%= (brand[2].qtd_product * brand[2].valor_unit).toLocaleString('es') %>
                                                    <% } %>
                                        </td>
                                        <td style="padding-left: 10px;">
                                            <%= brand[0].naturaleza %>
                                        </td>
                                        <td>
                                            <%= brand[0].status_desc %>
                                        </td>
                                        <td>
                                            <%= brand[0].nr_oc %>
                                        </td>
                                    </tr>

                                    <% } %>
                                    <% }) %>
                                    <% amountMin =order[1].reduce(function (previous, key) { return previous +
                                        key.min; }, 0); %>
                                        <% }) %>
                                        <tr class="bg-secondary mb-2">
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>
                                            <td style="text-align: right;"><strong><% if(provider1 > 0) {%> <%= provider1.toLocaleString('es') %> <% } %></strong></td>
                                            <td style="text-align: right;"><strong><% if(provider2 > 0) {%> <%= provider2.toLocaleString('es') %> <% } %></strong></td>
                                            <td style="text-align: right;"><strong><% if(provider3 > 0) {%> <%= provider3.toLocaleString('es') %> <% } %></strong></td>
                                            <td></td>
                                            <td></td>
                                            <td></td>                                       
                                        </tr> 
                        </tbody>
                    </table>
                    <h4 style="text-align:right;float:right;display: inline; ">
                        Menor monto posible de la cotización: Gs <%=
                            amountMin.toLocaleString('es'); %>
                    </h4>
                    <% let dt=new Date(order[1][0][1][0][0].dt_emissao); dt.setTime(dt.getTime() +
                        dt.getTimezoneOffset()*60*1000 ); %>
                        <h4 style="text-align:left;float:left;display: inline; "> Fecha: <%= dt.getDate() %>/<%=
                                    dt.getMonth() + 1%>/<%= dt.getFullYear() %>
                        </h4>

                        <br>
                        <% let amountproduct = 0; %> 

                        <% if(order.hgroups) { %>
                            <h3 style="padding-top: 30px; padding-bottom: 10px;">Historial de gastos
                                del vehículo <strong style="background-color: #ffffa6;">(Por Grupo)</strong>
                                <% if(order[1][0][1][0][0].truck) { let car=order[1][0][1][0][0]; %>
                                    <%= car.truck %>
                                        <% } %>
                            </h3>

                            <% let amountAprroveH=order.hgroups.reduce(function (previous, key) { return previous +
                                key.vlr_total; }, 0); %>

<table style="background-color: #d2d2d238;" >
    <col style="width:80%">
    <col style="width:5%">
    <col style="width:15%">
    <thead>
        <tr></tr>
<tr></tr>
<tr></tr>
</thead>
    <tbody>
                                <% order.hgroups.forEach(hgroup=> { %>
                                    <tr>
                                    <td><strong>Grupo:</strong>
                                        <%= hgroup.grupo %></td>
                                    <td style="text-align: right;">Gs </td>
                                    <td style="text-align: right;"><strong> <%= hgroup.vlr_total.toLocaleString('es')%></strong> - <%=
                                        (hgroup.vlr_total * 100 / amountAprroveH).toFixed(0)%> %</td>
                                    </tr>
                                    <% }) %>
                                </tbody>
                            </table>

                                        <h4 style="text-align:right;float:right;display: inline; ">
                                          <% amountproduct = amountAprroveH %>   Total gastado en el vehículo hasta ahora: Gs <%=
                                                amountAprroveH.toLocaleString('es'); %>
                                        </h4>
                                        <br>
                                        <% } %>

                                        <% if(order.zhistory) { %>
                                            <h3 style="padding-top: 30px; padding-bottom: 10px;">Historial de gastos
                                                del vehículo <strong style="background-color: #ffffa6;">(Por Produto)</strong> -  <% if(order[1][0][1][0][0].truck) { let car=order[1][0][1][0][0]; %>
                                                    <%= car.truck %> <% } %> 
                                            </h3>

                                            <table style="background-color: #d2d2d238;" >
                                                <col style="width:5%">
                                                <col style="width:80%">
                                                <col style="width:3%">
                                                <col style="width:12%">
                                                <thead>
                                                    <tr></tr>
                                            <tr></tr>
                                            <tr></tr>
                                            </thead>
                                                <tbody>
                                            <% order.zhistory.forEach(zhistory=> { %>
                                                <%let date=new Date(zhistory.date) %>
                                                <tr>
                                                    <td><strong><%= zhistory.id %> - </strong></td>
                                                    <td> <strong>Fecha:</strong> <%= date.getDate()%>/<%= date.getMonth() + 1 %>/
                                                        <%= date.getFullYear()%> - <strong>Grupo:</strong> <%= zhistory.grupo %> - <strong><%= zhistory.type %></strong>: <%= zhistory.product %> - <strong>OC:</strong> <%= zhistory.nr_oc %> 
                                                        <%if(zhistory.km) {%> - <strong>KM: </strong><% } %> <% if(zhistory.category == 'SEMI REBOQUE 3 EIXOS' || zhistory.category == 'FURGON 3 EJES' || zhistory.category == 'FURGON 3 EJES ') {%> Vehiculo sin Control de Kilometraje <%}else{%><%if(zhistory.km) {%><%= zhistory.km.toLocaleString('es')  %><% }} %>  </td>
                                                        <td style="text-align: right;">Gs </td>
                                                        <td style="text-align: right;"><strong> <strong> <%= zhistory.vlr_total.toLocaleString('es') %> </strong></td>
                                                    </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>

                                        <h4 style="text-align:right;float:right;display: inline; ">
                                            Total gastado en el vehículo hasta ahora: Gs <%=
                                                amountproduct.toLocaleString('es'); %>
                                        </h4>
                                        <br>
                                        
                                        <% }%>
                                    
                                        <% }) %>

                                        <br>
                                        <h3 style="text-align:center;float:inline-start;">Vendedores </h3>
                                        <table>
                                            <thead>
                                               <tr>
                                                   <th>Proveedor</th>
                                                   <th>Nombre</th>
                                                   <th>Teléfono</th>
                                               </tr>
                                            </thead>
                                               <tbody>
                                        <% sellers.forEach(seller => { %>
                                            <tr>
                                                <td>
                                                    <%= seller.proveedor %> 
                                                </td>
                                                <td>
                                                    <%= seller.name %> 
                                                </td>
                                                <td>
                                                    <strong> <%= seller.phone %>  </strong>
                                                </td>
                                            </tr>
                                            <% }) %>
                                        </tbody>
                                    </table>

                                    <br>
                                    <h3 style="text-align:center;float:inline-start;">Indice de las naturalezas </h3>

                                <table>
                                 <thead>
                                    </tr>
                                        <th>Cod</th>
                                        <th>Descripcion</th>
                                    </tr>
                                 </thead>
                                    <tbody>
                                            <% natures.forEach(nature => { %>
                                                <tr>
                                                    <td>
                                                        <%= nature.naturaleza %> 
                                                    </td>
                                                    <td>
                                                        <%= nature.naturalezadesc %> 
                                                    </td>
                                                </tr>
                                                <% }) %>
                                            </tbody>
                                        </table>
        </div>

        <script>
            window.onload = function () { window.print(); }
        </script>
</body>

</html>